@import "compass";

$text-color: #333;

@mixin text-spec($size: null, $line-height: null, $color: null, $weight: null) {
  font-size: $size;
  line-height: $line-height;
  color: $color;
  font-weight: $weight;
}

@mixin regular-text {
  @include text-spec(12px, 17px, $text-color);
}

@mixin inline-border-list {
  display: inline;
  margin-right: 6px;
  padding-top: 1px;
  &:before {
    content: "|";
    margin-right: 8px;
  }
  &:first-child:before {
    display: none;
  }
  &:last-child {
    margin-right: 0;
  }
}

// sets up a link with a background image and moves the text out of view
@mixin background-image-link($background, $width, $height) {
  display: block;
  text-indent: -9999%;
  @if $background != null { background-image: url($background); }
  width: $width;
  height: $height;
}

@mixin absolute($top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin horizontal-linked-list($item-margin-left: null, $item-margin-right: null, $item-padding-left: null, $item-padding-right: null) {
  @include pie-clearfix;
  li {
    display: inline;
  }
  a {
    display: block;
    float: left;
    margin-left: $item-margin-left;
    margin-right: $item-margin-right;
    padding-left: $item-padding-left;
    padding-right: $item-padding-right;
  }
}

// creates a triangle to place before an element. 
// specify direction that the triangle points (up, right, down, left) or give a custom rotation.
// specify x and y coordinates of where you want to place the triangle relative to the element.
@mixin triangle($color, $size, $direction, $x, $y) {
  position: relative;
  &:before {
    content: "";
    display: block;
    border-color: $color transparent transparent transparent;
    border-style: solid;
    border-width: $size;
    width: 0;
    height: 0;
    @include absolute($y, $x);
    @if $direction == left {
      @include transform(rotate(90deg));
    } @else if $direction == up {
      @include transform(rotate(180deg));
    } @else if $direction == right {
      @include transform(rotate(270deg));
    } @else if $direction != down {
      @include transform(rotate($direction));
    }

    html.no-csstransforms & {
      display: none;
    }
  }
}

// sample usage of vertical-sprite
@mixin icon($background-position) {
  @include vertical-sprite(20px, $background-position, $horizontal-px-increment: 20px, $hover: true, $active: true);
}

// $background-pos-order is 0 based
@mixin vertical-sprite($vertical-px-increment, $background-pos-order, $offsetx: 0, $offsety: 0, $horizontal-px-increment: null, $hover: null, $active: null) {
  $background-pos-y: $vertical-px-increment * $background-pos-order * -1;
  background-position: 0 + $offsetx $background-pos-y + $offsety;
  &:after {
    background-position: 0 + $offsetx $background-pos-y + $offsety;
  }
  @if $horizontal-px-increment != null {
    $background-pos-x: $horizontal-px-increment * $background-pos-order * -1;
    @if $hover != null {
      $hover-pos: $horizontal-px-increment * -1;
      &:hover {
        background-position: $hover-pos + $offsetx $background-pos-y + $offsety;
        &:after {
          background-position: $hover-pos + $offsetx $background-pos-y + $offsety;
        }
      }
      &.hover {
        background-position: $hover-pos + $offsetx $background-pos-y + $offsety;
      }
      @if $active != null {
        $active-pos: $horizontal-px-increment * 2 * -1;
        &:active {
          background-position: $active-pos + $offsetx $background-pos-y + $offsety;
          &:after {
            background-position: $active-pos + $offsetx $background-pos-y + $offsety;
          }
        }  
      } 
    }
  }
}