<!DOCTYPE html>
<!--[if lt IE 9]><html lang="en" class="ie no-js{% if page.htmlclass %} {{page.htmlclass}}{% endif %}{% if (page.redirect or page.redirectid) and page.nometaredirect != true %} redirect{% endif %}"><![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js{% if page.htmlclass %} {{page.htmlclass}}{% endif %}{% if (page.redirect or page.redirectid) and page.nometaredirect != true %} redirect{% endif %}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>{{page.title}}{% if page.url != '/index.html' %} - [SITE TITLE]{% endif %}</title>
  {% if page.redirect and page.nometaredirect != true %}
  <meta http-equiv="refresh" content="0; url={{ page.redirect }}" />
  {% endif %}
  {% if page.redirectid and page.nometaredirect != true %}
  <meta http-equiv="refresh" content="0; url={% for p in site.pages_by_id[page.redirectid] %}{{p.url}}{% endfor %}" />
  {% endif %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
  {% stylesheet all %}
  {% contentblock styles %}
  <link rel="shortcut icon" href="{% asset_path favicon.ico %}" />
  <!--[if IE 7]>{% stylesheet ie7 %}<![endif]-->
  <!--[if lt IE 9]>{% javascript html5ie.min.js %}<![endif]-->
</head>
<body>
  <section>
    {{content}}

    <!-- primary navigation -->
    <nav>
      <ul>
        {% for item in site.primary_navigation %}
          {% include nav.html %}
        {% endfor %}
      </ul>
    </nav>

    <!-- secondary navigation -->
    {% assign subnav_level = page.subfolder %}
    {% if page.subnav_level == 'parent' %}
      {% assign subnav_level = page.parent %}
    {% endif %}
    {% if site.sorted_navigation[subnav_level] %}
    <nav>
      <ul>
        {% for item in site.sorted_navigation[subnav_level] %}
          <!-- includes in a for loop need non whitespace characters in order to run -->
          {% include nav.html %}
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </section>
      
  {% javascript modernizr.min.js %}

  {% contentblock scripts %}

  <script type="text/javascript">
    window._gaq = [['_setAccount','[ANALYTICS CODE]'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load([
      {
        load: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js',
        complete: function() {
          if (!window.jQuery)
            Modernizr.load('{% asset_path jquery.min.js %}');
        }
      },
      {
        load: ['{% asset_path main.js %}'{% if page.pagescript %}, '{{page.pagescript}}'{% endif %}]
      },
      {
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      }
    ]);
    if (window.applicationCache) {
      applicationCache.addEventListener('updateready', function() {
        // force the new version of the page without making the user refresh
        window.applicationCache.swapCache();
        window.location.reload();
      });
    }
  </script>
</body>
</html>