<!DOCTYPE html>
<!--[if IE]><html class="ie no-js{% if page.htmlclass %} {{page.htmlclass}}{% endif %}"><![endif]--> 
<!--[if !(IE)]><!--> <html class="no-js{% if page.htmlclass %} {{page.htmlclass}}{% endif %}"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="styles/main.css" type="text/css"/>
	<!--[if IE 7]><link rel="stylesheet" href="styles/ie7.css" type="text/css"/><![endif]-->
	<!--[if lt IE 9]><script src="scripts/html5ie.min.js" type="text/javascript"></script><![endif]-->
</head>
<body>
	{{content}}
</body>
</html>