@import "compass";

$text-color: #333;

@mixin text-spec($size: '', $line-height: '', $color: '', $weight: '') {
  @if $size != '' { font-size: $size; }
  @if $line-height != '' { line-height: $line-height; }
  @if $color != '' { color: $color; }
  @if $weight != '' { font-weight: $weight; }
}

@mixin regular-text {
  @include text-spec(12px, 17px, $text-color);
}

@mixin inline-border-list {
  display: inline;
  margin-right: 6px;
  padding-top: 1px;
  &:before {
    content: "|";
    margin-right: 8px;
  }
  &:first-child:before {
    display: none;
  }
  &:last-child {
    margin-right: 0;
  }
}